.item_width_two_part {
  @media (min-width: 640px) and (max-width: 1023px) {
    width: calc((100% / 2) - 30px);
  }
}

.item_width_three_part {
  @media (min-width: 1024px) {
    width: calc((100% / 3) - 17px);
  }
}

.achievements_img {
  @media (min-width: 640px) and (max-width: 1023px) {
    object-position: 61% center;
  }
}

.img_achievements_one {
  @media (min-width: 1850px) {
    left: 250%;
  }
}

.img_achievements_two {
  @media (min-width: 1850px) {
    left: 150%;
  }
}

.img_achievements_three {
  @media (min-width: 1850px) {
    left: 210%;
  }
}

.img_achievements_four {
  @media (min-width: 1850px) {
    left: 150%;
  }
}

.img_achievements_five {
  @media (min-width: 1850px) {
    left: 250%;
  }
}
