@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #0090ff;
  --primary-text-color: #ffffff;
  --grey-color: #8e8e8e;
  --secondary-text-color: #000000;
  --primary-bg-color: #eff1f3;
  --secondary-bg-color: #0c0c0c;
  --error-color: #d22e2e;
}

body {
  color: var(--secondary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}
