@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --accent-color: #0090ff;
  --primary-text-color: #ffffff;
  --grey-color: #8e8e8e;
  --secondary-text-color: #000000;
  --primary-bg-color: #eff1f3;
  --secondary-bg-color: #0c0c0c;
  --error-color: #d22e2e;
}

body {
  color: var(--secondary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--primary-text-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical:active {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical:active {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}