.header_box {
  &::before {
    content: "";
    position: absolute;
    top: -219%;
    width: 100%;
    z-index: -1;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }

  &.scrolled::before {
    opacity: 0;
  }
}